apiVersion: v2
kind: Service
metadata:
  name: my-spring-boot-app
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 8080
  selector:
    app: my-spring-boot-app